@charset "UTF-8";
nav.navbar {
  padding: 20px;
  z-index: 999;
}

a.navbar-brand {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  color: #000;
  text-decoration: none;
}

li.nav-item {
  font-size: 1.6rem;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.bg-light {
  background-color: #fff !important;
}

section.titleBar {
  background-image: url(../img/bg-headertitle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  padding: 5% 8%;
}

section.titleBar h1, section.titleBar h2 {
  background-color: #fff;
  padding: 8px 15px;
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 4rem;
  margin-bottom: 15px;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 15px;
}

h4 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

p {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

.button {
  background-color: #4F958B;
  padding: 10px 32px;
  border: none;
  display: inline-block;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #376861;
  -webkit-transition: .5s;
  transition: .5s;
  color: #fff;
  text-decoration: none;
}

.button i {
  margin-left: 15px;
}

div.separator {
  width: 100px;
  height: 3px;
  background: #4F958B;
  margin-bottom: 15px;
}

.center {
  margin: 0 auto;
}

.destacado {
  color: #fff;
  background-color: #4F958B;
  padding: 25px 45px;
  font-weight: 700;
}

section.sceneHome {
  background-image: url(../img/cafe-publico-1541x690.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  height: 600px;
  padding: 85px 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.sceneHome h1, section.sceneHome h2 {
  background-color: #fff;
  padding: 8px 15px;
  display: inline-block;
}

section.sceneHome h3 {
  background-color: #fff;
  padding: 8px 15px;
  display: inline-block;
}

section.homeCarrusel {
  padding: 85px 8%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.homeCarrusel__row01 {
  width: 50%;
}

div.homeCarrusel__row02 {
  max-width: 530px;
  margin: 0 auto;
}

section.homeVideo {
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

video.homeVideo__video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 40px -17px black;
  box-shadow: 0px 0px 40px -17px black;
}

section.homeCols {
  padding: 28% 5% 85px 8%;
  margin-top: -20%;
  text-align: center;
  background-color: #EFEDE1;
}

div.homeCols__containerColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.containerColumns__column {
  max-width: 320px;
  margin: 45px 18px;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

div.containerColumns__column:hover {
  -webkit-transform: translate(0, -8px);
          transform: translate(0, -8px);
}

div.containerColumns__column img {
  max-width: 90%;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-transition: .5s;
  transition: .5s;
}

div.containerColumns__column img:hover {
  -webkit-box-shadow: 0px 0px 40px -17px black;
  box-shadow: 0px 0px 40px -17px black;
  cursor: pointer;
}

section.homeMap {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

section.homeMap .icon {
  font-size: 6.5rem;
  margin-bottom: 15px;
}

div.homeMap__row01 {
  width: 50vw;
  padding: 85px 65px 85px 8%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.homeMap__row02 {
  width: 50vw;
}

div.row02__responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
}

div.row02__responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

section.menu {
  text-align: center;
  padding: 85px 8%;
}

div.menu__table {
  margin: 45px auto;
  width: 80%;
}

div.menu__table table {
  table-layout: fixed;
  width: 100%;
}

div.menu__table thead th {
  padding: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #EFEDE1;
}

div.menu__table tbody td {
  padding: 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
}

div.menu__table tbody tr:nth-child(even) {
  background-color: #EFEDE1;
}

section.imagenFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

div.imagenFooter__foto1 {
  background-image: url(../img/foto1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.imagenFooter__foto2 {
  background-image: url(../img/foto2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.imagenFooter__foto3 {
  background-image: url(../img/foto3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.imagenFooter__foto4 {
  background-image: url(../img/foto4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section.visitanos {
  text-align: center;
  padding: 85px 0;
}

div.visitanosInfo {
  width: 65vw;
  margin: 0 auto;
}

div.visitanosMapas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 25px auto;
  width: 75vw;
}

div.mapas__foto {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 530px;
}

div.mapas__foto.gam {
  background-image: url(../img/foto1.jpg);
}

div.mapas__mapa {
  width: 100%;
  height: 530px;
  background-color: black;
}

section.nosotros {
  width: 90vw;
  margin: 0 auto;
}

div.nosotrosTexto {
  padding: 85px 8% 0 8%;
}

div.nosotrosTexto p {
  margin-bottom: 15px;
}

div.nosotrosGaleria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  padding: 45px 8% 0 8%;
}

div.nosotrosGaleria__fotos, div.nosotrosGaleria__fotosBig {
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.big {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  min-height: 100%;
}

div.nosotrosGaleria__fotos img, div.nosotrosGaleria__fotosBig img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.nosotrosVideo {
  margin: 45px auto 85px auto;
  padding: 0 8%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contacto {
  padding: 85px 8%;
}

section.contacto p {
  margin-bottom: 15px;
}

form.contacto__Form {
  max-width: 600px;
  margin: 85px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
  grid-gap: 5px;
}

div.Form__label {
  padding: 5px 15px;
}

div.Form__label label {
  font-size: 1.5rem;
}

div.Form__label input, div.Form__label select, div.Form__label textarea {
  width: 100%;
  padding: 10px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

div.Form__label.enviar input {
  background-color: #4F958B;
  padding: 10px 32px;
  border: none;
  display: inline-block;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 0;
  cursor: pointer;
}

div.Form__labelenviar input:hover {
  background-color: #376861;
  -webkit-transition: .5s;
  transition: .5s;
}

div.Form__label.nombre, div.Form__label.email {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

div.Form__label.telefono, div.Form__label.area {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

div.Form__label.asunto, div.Form__label.mensaje, div.Form__label.enviar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 85px 8%;
}

div.globalFooter {
  max-width: 1520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.globalFooter a {
  color: #fff;
  text-decoration: none;
}

div.globalFooter__column-first {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0;
}

div.globalFooter__column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0;
}

div.globalFooter__column li {
  font-size: 1.6rem;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

div.globalFooter__column i {
  margin-right: 15px;
  font-size: 1rem;
}

div.globalFooter__column.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.globalFooter__column.logos img {
  width: 100px;
}

div.globalFooter__logos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0;
}

span.globalFooter__logo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
}

nav.globalFooter__rrss {
  display: inline;
}

nav.globalFooter__rrss ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.globalFooter__rrss li {
  font-size: 1.8rem;
  margin: 8px 15px 0 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 780px) {
  /* FOOTER GLOBAL */
  div.globalFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  div.globalFooter__column {
    margin: 25px 0 0 0;
  }
  div.globalFooter__column.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  div.globalFooter__column.logos img {
    margin-top: 22px;
  }
  /* PÁGINA INICIO */
  section.homeCarrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
  div.homeCarrusel__row01 {
    width: 100%;
  }
  div.homeCarrusel__row02 {
    max-width: 100%;
    margin: 0 0 45px 0;
  }
  section.homeMap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: auto;
  }
  div.homeMap__row01 {
    padding: 55px 8% 25px 8%;
    width: 100%;
  }
  div.homeMap__row02 {
    width: 100%;
  }
  div.row02__responsive {
    height: 450px;
  }
  /* PÁGINA MENÚ */
  div.menu__table {
    width: 100%;
  }
  /* PÁGINA VISÍTANOS */
  section.nosotros {
    width: 100%;
  }
  div.visitanosMapas {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    margin: 25px 0;
    width: 100vw;
  }
  div.mapas__foto {
    height: 350px;
  }
  div.mapas__mapa {
    height: auto;
  }
  /* PÁGINA NOSOTROS */
  div.nosotrosGaleria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 45px 0 0 0;
    gap: 15px 0;
    width: 90vw;
    margin: 0 auto;
  }
  div.nosotrosGaleria__fotos, div.nosotrosGaleria__fotosBig {
    height: 320px;
  }
  div.nosotrosVideo {
    padding: 0;
    height: 235px;
  }
  /* PÁGINA CONTACTO */
  div.Form__label.nombre, div.Form__label.email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  div.Form__label.telefono, div.Form__label.area {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  div.Form__label.email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  div.Form__label.area {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}
/*# sourceMappingURL=style.css.map */